@media screen and (max-width: 480px) {
    .navbar-nav{
                margin: 10px 0px;
                text-align: center;
                border-radius: 10px;
    }
       .our-players{
           text-align: center;
       }
       .read-more{
           margin-bottom: 15px;
       }
       .latest-work{
           margin-bottom: 10px;
       }
      }
      /* iPad or tablets  ----------- */
      @media screen and (max-width: 768px) {
        .navbar-nav{
            margin: 10px 0px;
            text-align: center;
            border-radius: 10px;
}
   .our-players{
       text-align: center;
   }
   .read-more{
       margin-bottom: 15px;
   }
   .latest-work{
       margin-bottom: 10px;
   }
   .sidebar{
       text-align: center;
   }
      }
      